@use "sass:color";

// Polar Night
$polar-night-100: #4C566A;
$polar-night-200: #434C5E;
$polar-night-300: #3B4252;
$polar-night-400: #2E3440;

// Snow Storm
$snow-storm-100: #ECEFF4;
$snow-storm-200: #E5E9F0;
$snow-storm-300: #D8DEE9;

// Frost
$frost-100: #8FBCBB;
$frost-200: #88C0D0;
$frost-300: #81A1C1;
$frost-400: #5E81AC;

// Aurora
$aurora-100: #BF616A;
$aurora-200: #D08770;
$aurora-300: #EBCB8B;
$aurora-400: #A3BE8C;
$aurora-500: #B48EAD;

// Black and white
$black: #000000;
$white: #ffffff;

@mixin gradient(
  $direction,
  $colors,
  $type: 'linear',
) {
  @if $type == 'linear' {
    background-image: linear-gradient($direction, $colors);
    background-image: -moz-linear-gradient($direction, $colors);
    background-image: -o-linear-gradient($direction, $colors);
    background-image: -webkit-linear-gradient($direction, $colors);
  }
}
